<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud App </title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container mt-2">

        <a href="/" class="btn btn-primary">Home</a>
        <a href="/update" class="btn btn-primary">Edit</a>
    </div>